/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Simple CSS styling for RottenPotatoes app */
/* Add these lines to app/assets/stylesheets/application.css */
#html, #body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
#main {
  margin: 0;
  padding: 0 0px 0px;
  
  }


h1 {
  color: purple;
  font-size: 150%;
  font-style: italic;
  display: block;
  border-bottom: 2px solid red;
  width: 90%;
  margin-left: 40px;
  
}

.title {
  margin: 0 0 0em;
  padding: 10px;
  background-color: darkolivegreen;
  color: olive;
  border-bottom: 2px olive;
  font-size: 3em;
  font-style: normal;
  width: 100%;
}

#movies {
  margin-left: 40px;
  margin-right: 0px;
  border-collapse: collapse;
  width: 90%;
  border-bottom: 3px solid red; 
  margin-bottom: 10px;
  
}
#movies th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}

#movies th, #movies td {
  padding: 6px;
  text-align: left;
  border:2px solid white;
}
#notice, #warning {
  background: darkorange;
  margin: 1em 0;
  padding: 4px;
  font-size: medium;
}
#form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}

td:hover {
      background-color:yellow; }

a:hover{
      color:red;
}
      

h2 {
  font-size: small;
  color: teal;
}




.form {
  
  width:100%; 
  height:80px;
  background-color: darkolivegreen;
}

h1 a {
    text-decoration: none;
    color: #fff;
    font-style: normal;
}
